$actinoid: linear-gradient(125deg, #43B7B8 0%, #8233C5 100%);
$alkalineEarthMetal: linear-gradient(125deg, #FEC180 0%, #FF8993 100%);
$alkaliMetal: linear-gradient(125deg, #FD8263 0%, #C53364 50%, #74276C 100%);
$halogen: linear-gradient(125deg, #17EAD9 0%, #6078EA 100%);
$lanthanoid:  linear-gradient(125deg, #92E1E2 0%, #0D4671 100%);
$metal: linear-gradient(125deg, #38B8F2 0%, #843CF7 100%);
$metalloid: linear-gradient(125deg, #45E994 0%, #057070 100%);
$nobleGas: linear-gradient(125deg, #1BCEDF 0%, #5B247A 100%);
$nonMetal: linear-gradient(125deg, #57CA85 0%, #184E68 100%);
$postTransitionMetal: linear-gradient(125deg, #D6FF7F 0%, #00B3CC 100%);
$transitionMetal: linear-gradient(125deg, #C53364 0%, #622774 100%);