$actinoid: linear-gradient(125deg, #E8458B 0%, #903775 50%, #363553 100%);
$alkalineearthmetal: linear-gradient(125deg, #FCE3BA 0%, #F38181 100%);
$alkalimetal: linear-gradient(125deg, #FD8263 0%, #C53364 50%, #74276C 100%);
$halogen: linear-gradient(125deg, #17EAD9 0%, #6078EA 100%);
$lanthanoid:  linear-gradient(125deg, #92E1E2 0%, #0D4671 100%);
$metal: linear-gradient(125deg, #38B8F2 0%, #843CF7 100%);
$metalloid: linear-gradient(125deg, #45E994 0%, #23BCBB 100%);
// $metalloid: linear-gradient(125deg, #D5E969 0%, #45E0A7 100%);
$noblegas: linear-gradient(125deg, #1BCEDF 0%, #5B247A 100%);
$nonmetal: linear-gradient(125deg, #57CA85 0%, #184E68 100%);
$transitionmetal: linear-gradient(125deg, #C53364 0%, #622774 100%);