@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  
}

.actinoid {
  background-image: vars.$actinoid;
}
.alkaline-earth-metal {
  background-image: vars.$alkalineEarthMetal;
}
.alkali-metal {
  background-image: vars.$alkaliMetal;
}
.halogen {
  background-image: vars.$halogen;
}
.lanthanoid {
  background-image: vars.$lanthanoid;
}
.metal {
  background-image: vars.$metal;
}
.metalloid {
  background-image: vars.$metalloid;
}
.noble-gas {
  background-image: vars.$nobleGas;
}
.nonmetal {
  background-image: vars.$nonMetal;
}
.transition-metal {
  background-image: vars.$transitionMetal;
}
.post-transition-metal {
  background-image: vars.$postTransitionMetal;
}