.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1025px) {
    flex-direction: row;
    height: 100vh;
  }
}

.dark-app {
  background-color: #121212;
}
.light-app {
  background-color: #fafaf8;
}

